.app {
    color: rgb(15, 15, 15);
}

.twhite, .twhite:hover {
    color: white;
}

.tblack, .tblack:hover{
    color: rgb(15, 15, 15);
    text-decoration: none;
}


.title{ 
    padding-bottom: 25px;
}

.align-center{
    padding-top: 80px;
}


.align-right{
    float: right;
    padding-right: 10px;
}