.app {
    color: rgb(15, 15, 15);
}

.twhite, .twhite:hover {
    color: white;
}

.tblack, .tblack:hover{
    color: rgb(15, 15, 15);
    text-decoration: none;
}


.title-board{ 
    padding-bottom: 25px;
}

.align-center{
    padding-top: 80px;
}


.align-right{
    float: right;
    padding-right: 10px;
}


a {
    text-decoration: none !important;
}

.center {
    float: center;
    align-items: center;
    text-align: center;
  
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}
.card-registration .select-arrow {
top: 13px;
}